<!DOCTYPE html>
<html lang="en">

<%- include("../partials/headPartial.ejs") %>

    <body>
        <%- include("../partials/headerPartial.ejs") %>
            <main class="main_myAccount">
                <div class="page_title">
                    <h1 class="main_titles">Mi cuenta</h1>
                </div>
                <div class="page_content">
                    <div class="myAccount_all">
                        <div class="myAccount_menu">
                            <ul>
                                <% if (locals.adminCheck) { %>
                                 <a href="/cuenta/detalles/admin">
                                    <li id="adminUserButtons">ADMIN USER</li>
                                </a>
                                <% } %>
                                <a href="/lista-de-deseos">
                                    <li>Lista de deseos</li>
                                </a>
                                <a href="/carrito">
                                    <li>Carrito</li>
                                </a>
                               
                                <a href="/cuenta/detalles/#form">
                                    <li class="edit_toggle">Editar detalles</li>
                                </a> 
                                <a href="/cuenta/logout">
                                    <li>Salir</li>
                                </a> 
                            </ul>

                        </div>
                        <div class="myAccount_form">
                            <legend id="form" class="myAccount_subtitles">Modificar información de la cuenta</legend>
                            <form  action="/cuenta/detalles/editar-cuenta?_method=PUT" method="post">
                                <div class="editPersonalInfo">
                                    <div class="form_group_reg">
                                        <input class="<%= locals.errorsMapped && errorsMapped.firstName_edit ? "form_invalidEditInputs" : "myAccount_editInput" %>" type="text" name="firstName_edit"
                                            id="password" value="<%= currentUser.first_name %>">
                                        <label class="form_labels_reg" for="password">Nombre</label>
                                        <% if (locals.errorsMapped && errorsMapped.firstName_edit) { %>
                                            <span class="material-symbols-outlined" id="errorIcon1">error</span>
                                        <% } %>

                                    </div>
                                    <div class="form_group_reg">
                                        <input class="<%= locals.errorsMapped && errorsMapped.lastName_edit ? "form_invalidEditInputs" : "myAccount_editInput" %>" type="text" name="lastName_edit"
                                            id="password" value="<%= currentUser.last_name %>">
                                        <label class="form_labels_reg" for="password">Apellidos</label>
                                        <% if (locals.errorsMapped && errorsMapped.lastName_edit) { %>
                                            <span class="material-symbols-outlined" id="errorIcon1">error</span>
                                        <% } %>

                                    </div>
                                </div>

                                <div class="form_group_reg">
                                    <input class="<%= locals.errorsMapped && errorsMapped.birthDate_edit ? "form_invalidEditInputs" : "myAccount_editInput" %>" type="date" name="birthDate_edit"
                                        id="password" value="<%= currentUser.birth_date %>">
                                    <label class="form_labels_reg" for="password">Fecha de nacimiento</label>
                                </div>

                                <div class="form_group_reg">
                                    <input class="<%= locals.errorsMapped && (errorsMapped.email_edit || errorsMapped.emailAlreadyRegistered)? "form_invalidEditInputs" : "myAccount_editInput" %>" type="text" name="email_edit"
                                        id="password" value="<%= locals.persisted && persisted.email_edit? persisted.email_edit : currentUser.email %>">
                                    <label class="form_labels_reg" for="password">Dirección de correo
                                        electrónico</label>
                                        <% if (locals.errorsMapped && (errorsMapped.email_edit || errorsMapped.emailAlreadyRegistered)) { %>
                                            <span class="material-symbols-outlined" id="errorIcon1">error</span>
                                        <% } %>
                                </div>
                                <% if (locals.updateSuccessMsg) { %>
                                    <div class="myAccount_form_successMsg">
                                        <span class="material-symbols-outlined">check_circle</span><p><%= updateSuccessMsg %></p>
                                    </div> 
                                <% } %>
                                
                                <div class="buttonDiv">
                                    <button class="myAccount_button" type='submit'>GUARDAR CAMBIOS</button>
                                </div>
                            </form>


                            <fieldset class="myAccount_passwordFieldset">
                                <legend class="myAccount_fieldsetLegend">Cambiar contraseña</legend>
                                <form action="/cuenta/detalles/change-password?_method=PUT" method="post">
                                    <div class="form_group_reg">
                                        <input class="<%= locals.errorsMapped && (errorsMapped.oldPassword_edit || errorsMapped.oldPasswordError)? "form_invalidEditInputs" : "myAccount_editInput" %>" type="password" name="oldPassword_edit"
                                            id="password" value="<%= locals.persisted && persisted.oldPassword_edit? persisted.oldPassword_edit : "" %>">
                                        <label class="form_labels_reg" for="password">Contraseña actual</label>
                                        <% if (locals.errorsMapped && (errorsMapped.oldPassword_edit || errorsMapped.oldPasswordError)) { %>
                                            <span class="material-symbols-outlined" id="errorIcon1">error</span>
                                        <% } %>
                                    </div>
                                    <div class="form_group_reg">
                                        <input class="<%= locals.errorsMapped && errorsMapped.newPassword_edit? "form_invalidEditInputs" : "myAccount_editInput" %>" type="password" name="newPassword_edit"
                                            id="password" value="<%= locals.persisted && persisted.newPassword_edit? persisted.newPassword_edit : "" %>">
                                        <label class="form_labels_reg" for="password">Nueva contraseña</label>
                                        <% if (locals.errorsMapped && errorsMapped.newPassword_edit) { %>
                                            <span class="material-symbols-outlined" id="errorIcon1">error</span>
                                        <% } %>
                                    </div>
                                    <div class="form_group_reg">
                                        <input class="<%= locals.errorsMapped && errorsMapped.newPasswordCheck_edit? "form_invalidEditInputs" : "myAccount_editInput" %>" type="password" name="newPasswordCheck_edit"
                                            id="password" value="<%= locals.persisted && persisted.newPasswordCheck_edit? persisted.newPasswordCheck_edit : "" %>">
                                        <label class="form_labels_reg" for="password">Confirmar nueva contraseña</label>
                                        <% if (locals.errorsMapped && errorsMapped.newPasswordCheck_edit) { %>
                                            <span class="material-symbols-outlined" id="errorIcon1">error</span>
                                        <% } %>
                                    </div>
                                    <% if (locals.passwordChangeSuccessMsg) { %>
                                        <div class="myAccount_form_successMsg">
                                            <span class="material-symbols-outlined">check_circle</span><p><%= passwordChangeSuccessMsg %></p>
                                        </div> 
                                    <% } %>
                                    <div class="buttonDiv">
                                        <button class="myAccount_button" type='submit'>GUARDAR NUEVA CONTRASEÑA</button>
                                    </div>
                                </form>
                            </fieldset>
                            <div class="myAccount_deleteForm">
                                <legend class="myAccount_subtitles">Eliminar la cuenta</legend>
                                <p>Si eliminas tu cuenta perderás toda la información y no podrás acceder.</p>
                                <form action="/cuenta/detalles/eliminar-cuenta?_method=DELETE" method="post">
                                    <button class="myAccount_deleteButton" type='submit'>ELIMINAR CUENTA</button>
                                </form>
                            </div>
                        </div>
                        

                    </div>
                    <div class="pageContent_footer">
                        <a class="main_goBackHome" href="/"><i class="fa-solid fa-arrow-left"></i> Home</a>
                       </div>
                    </div>
                    
                </div>
            

                <% if (locals.errorsMapped) { %>
                    <div class="validationError">
                        <% if (errorsMapped.emailAlreadyRegistered) { %>
                            <span class="material-symbols-outlined">error</span><p>Error: La dirección de correo electrónico <u><%= errorsMapped.emailAlreadyRegistered.msg %></u> ya está registrada</p>
                        <% } else if (errorsMapped.firstName_edit) { %>
                            <span class="material-symbols-outlined">error</span><p>Error: <%= errorsMapped.firstName_edit.msg %> </p>
                        <% } else if (errorsMapped.lastName_edit) { %>
                            <span class="material-symbols-outlined">error</span><p>Error: <%= errorsMapped.lastName_edit.msg %> </p>
                        <% } else if (errorsMapped.birthDate_edit) { %>
                            <span class="material-symbols-outlined">error</span><p>Error: <%= errorsMapped.birthDate_edit.msg %> </p>
                        <% } else if (errorsMapped.email_edit) { %>
                            <span class="material-symbols-outlined">error</span><p>Error: <%= errorsMapped.email_edit.msg %> </p>
                        <% } else if (errorsMapped.oldPasswordError) { %>
                            <span class="material-symbols-outlined">error</span><p>Error: <%= errorsMapped.oldPasswordError.msg %> </p>
                        <% } else if (errorsMapped.oldPassword_edit) { %>
                            <span class="material-symbols-outlined">error</span><p>Error: <%= errorsMapped.oldPassword_edit.msg %> </p>
                        <% } else if (errorsMapped.newPassword_edit) { %>
                            <span class="material-symbols-outlined">error</span><p>Error: <%= errorsMapped.newPassword_edit.msg %> </p>
                        <% } else { %>
                            <span class="material-symbols-outlined">error</span><p>Error: <%= errorsMapped.newPasswordCheck_edit.msg %> </p>
                        <% } %>
                 
                       <% } %>
                  
                    </div>
                </main> 
                


            <%- include("../partials/footerPartial.ejs") %>
    </body>

</html>