<!DOCTYPE html>
<html lang="en">

<%- include("../partials/headPartial.ejs") %>

<body>
    <%- include("../partials/headerPartial.ejs") %>
        <main class="productForms_main">
            <div class="page_title">
                <h1 class="main_titles">Editar producto</h1>
            </div>
            <div class="page_content">
                <div class="productCreate_form">
                <form  action="/productos/detalle/<%= productToEdit.id %>/admin/edit?_method=PUT" method="post"
                    enctype="multipart/form-data">
                    <div class="createProduct_all">
                        <section class="createProductForm_sec1">
                            <h3 class="productForm_subtitles">Información general del producto</h3>
                            <div class="createProductInput_group">
                                <label for="product_title">Nombre del producto*</label>
                                <input class="createProduct_input" type="text" name="productEdit_title" value="<%= locals.persistedData && (persistedData.productEdit_title || persistedData.productEdit_title == "" ) ? persistedData.productEdit_title : productToEdit.name %>">
                                <% if (locals.errorsMapped && errorsMapped.productEdit_title) { %>
                                    <div class="createProduct_formError">
                                        <span class="material-symbols-outlined">error</span>
                                        <p>Error: <%= errorsMapped.productEdit_title.msg %></p>
                                    </div>
                                <% } %>

                            </div>

                            <div class="createProductInput_group">
                                <label for="product_category">Categoría*</label>
                                <select class="createProduct_select" name="productEdit_category">
                                    <option selected disabled>Elija una categoría</option>
                                    <% for(category of categories){ %>
                                        <option <%= (productToEdit.category_id == category.id) || (locals.persistedData && persistedData.productEdit_category == category.id) ? "selected" : ""  %> value="<%= category.id %>"><%= category.name %></option>
                                        <% } %>
                                </select>
                                <% if (locals.errorsMapped && errorsMapped.productEdit_category) { %>
                                    <div class="createProduct_formError">
                                        <span class="material-symbols-outlined">error</span>
                                        <p>Error: <%= errorsMapped.productEdit_category.msg %></p>
                                    </div>
                                <% } %>

                            </div>

                            <div class="createProductInput_group">
                                <label for="product_description">Descripción*</label>
                                <textarea  maxlength="550" class="createProduct_textarea" name="productEdit_description"><%= locals.persistedData && (persistedData.productEdit_description || persistedData.productEdit_description == "") ? persistedData.productEdit_description : productToEdit.description %></textarea>
                                <% if (locals.errorsMapped && errorsMapped.productEdit_description) { %>
                                    <div class="createProduct_formError">
                                        <span class="material-symbols-outlined">error</span>
                                        <p>Error: <%= errorsMapped.productEdit_description.msg %></p>
                                    </div>
                                <% } %>
                            </div>
                            <div class="createProductInput_group">
                                <label for="product_crafting">Fabricación*</label>
                                <textarea maxlength="550" class="createProduct_textarea" name="productEdit_crafting"><%= locals.persistedData && (persistedData.productEdit_crafting || persistedData.productEdit_crafting == "") ? persistedData.productEdit_crafting : productToEdit.crafting_info %></textarea>
                                <% if (locals.errorsMapped && errorsMapped.productEdit_crafting) { %>
                                    <div class="createProduct_formError">
                                        <span class="material-symbols-outlined">error</span>
                                        <p>Error: <%= errorsMapped.productEdit_crafting.msg %></p>
                                    </div>
                                <% } %>
                            </div>
                            <div class="createProductInput_group">
                                <label for="product_additionalInfo">Información adicional*</label>
                                <textarea maxlength="350" class="createProduct_textarea" name="productEdit_additionalInfo"><%= locals.persistedData && (persistedData.productEdit_additionalInfo || persistedData.productEdit_additionalInfo== "") ? persistedData.productEdit_additionalInfo : productToEdit.additional_info %></textarea>
                                <% if (locals.errorsMapped && errorsMapped.productEdit_additionalInfo) { %>
                                    <div class="createProduct_formError">
                                        <span class="material-symbols-outlined">error</span>
                                        <p>Error: <%= errorsMapped.productEdit_additionalInfo.msg %></p>
                                    </div>
                                <% } %>
                            </div>
                            <fieldset class="images_fieldset">
                                <legend class="productForm_subtitles">Cargar imagenes del producto</legend>
                                <% if (locals.errorsMapped) { %>
                                 <div class="createProduct_formError">
                                    <span class="material-symbols-outlined">Error</span><p> Atención: vuelve a cargar las imágenes</p>
                                </div>
                                <% } %>
                                
                                <div class="createProductInput_group">
                                    <label for="product_image1">Imagen del artículo*</label>
                                    <input class="createProduct_file" type="file" name="productEdit_image1">
                                    <% if (locals.errorsMapped && errorsMapped.productEdit_image1) { %>
                                        <div class="createProduct_formError">
                                            <span class="material-symbols-outlined">error</span>
                                            <p>Error: <%= errorsMapped.productEdit_image1.msg %></p>
                                        </div>
                                    <% } %>
                                </div>
                                <div class="createProductInput_group">
                                    <label for="product_image2">Imagen del detalle*</label>
                                    <input class="createProduct_file" type="file" name="productEdit_image2">
                                    <% if (locals.errorsMapped && errorsMapped.productEdit_image2) { %>
                                        <div class="createProduct_formError">
                                            <span class="material-symbols-outlined">error</span>
                                            <p>Error: <%= errorsMapped.productEdit_image2.msg %></p>
                                        </div>
                                    <% } %>
                                </div>
                            </fieldset>
                        </section>

                        <section class="createProductForm_sec2">
                            <h3 class="productForm_subtitles">Precio, descuentos & Ofertas</h3>
                            <div class="createProduct_priceDiscount">
                                <div class="createProduct_groupPrice">
                                    <label for="product_price">Precio*</label>
                                    <input class="createProduct_priceInput" type="number" step="0.01" name="productEdit_price" value="<%= locals.persistedData && (persistedData.productEdit_price || persistedData.productEdit_price == "")? persistedData.productEdit_price : productToEdit.price %>">
                                    <% if (locals.errorsMapped && errorsMapped.productEdit_price) { %>
                                        <div class="createProduct_formError">
                                            <span class="material-symbols-outlined">error</span>
                                            <p>Error: <%= errorsMapped.productEdit_price.msg %></p>
                                        </div>
                                    <% } %>
                                    
                                </div>
                                <div class="createProduct_groupPrice"> 
                                    <label for="product_discount">Descuento (opcional)</label>
                                    <select class="createProduct_discountInput" name="productEdit_discount">
                                        <option <%= (productToEdit.discount == "0") || (locals.persistedData && persistedData.productEdit_discount == "0") ? "selected" : "" %> value="0">Sin descuento</option>
                                        <option <%= (productToEdit.discount == "15") || (locals.persistedData && persistedData.productEdit_discount == "15") ? "selected" : "" %> value="15">15% OFF</option>
                                        <option <%= (productToEdit.discount == "25") || (locals.persistedData && persistedData.productEdit_discount == "25") ? "selected" : "" %> value="25">25% OFF</option>
                                        <option <%= (productToEdit.discount == "30") || (locals.persistedData && persistedData.productEdit_discount == "30") ? "selected" : "" %> value="30">30% OFF</option>
                                        <option <%= (productToEdit.discount == "50") || (locals.persistedData && persistedData.productEdit_discount == "50") ? "selected" : "" %> value="50">50% OFF</option>
                                    </select>
                                   
                                </div>
                            </div>
                            <div>
                                <h4>Ofertas (opcional)</h4>
                                <div class="createProduct_groupOffers">
                                    <label><input type="radio" name="productEdit_offer" value="2" <%=  (productToEdit.offer_twoForOne == true)  ? "checked" : "" %>> 2 unidades por el precio de 1</label>
                                    <label><input type="radio" name="productEdit_offer" value="3" <%=  (productToEdit.offer_threeForTwo == true)  ? "checked" : "" %>> 3 unidades por el precio de 2</label>
                                    <label><input type="radio" name="productEdit_offer" value="false" <%=  (productToEdit.offer_twoForOne == false && productToEdit.offer_threeForTwo == false)  ? "checked" : "" %>> Sin ofertas</label>
                                </div>
                            </div>
                            <div class="createProduct_buttonsGroup">
                                <button class="createProduct_buttons" type="submit">EDITAR PRODUCTO</button>
                            </form>
                           
                            <form action="/productos/detalle/<%= productToEdit.id %> /admin/delete?_method=DELETE" method="post">
                                <button type="submit" class="createProduct_buttonsDel">ELIMINAR PRODUCTO</button>
                            </form> 
                            
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </main>
        <%- include("../partials/footerPartial.ejs") %>
</body>


</html>