<!DOCTYPE html>
<html lang="en">

<%- include("../partials/headPartial.ejs") %>

    <body>
        <%- include("../partials/headerPartial.ejs") %>
            <main class="main_productDetail">
                <div class="page_content">
                    <div class="productDetail_all">
                        <section class="productDetail_sec1">
                            <div class="productDetail_imgCont">
                                <img src="/img productos_weiss/productosImages/<%= productFinded.image_1 %> " alt="logo-weiss">
                            </div>


                        </section>
                        <section class="productDetail_sec2">
                            <div class="productDetail_info">
                                <a href="/" class="productDetail_path">Home</a> <span class="productDetail_path1">/</span> <a href="/productos/page/1" class="productDetail_path">Productos</a> <span class="productDetail_path1">/</span> <a href="/productos/<%= productFinded.categories.name.toLowerCase() %>" class="productDetail_path"><%= productFinded.categories.name %> </a> <span class="productDetail_path1">/</span> <a href="" class="productDetail_pathProduct"><%= productFinded.name %></a>
                                <h2 class="productDetail_title"><%= productFinded.name %></h2>
                                <div>
                                    <% if (productFinded.discount != 0) { %>
                                     <div class="productDetail_discountSec">
                                        <h2 class=productDetail_originalPrice><%= formatter.format(productFinded.price) %> </h2>
                                        <h2 class="productDetail_discount"><%= productFinded.discount %>% OFF</h2>
                                    </div>
                                    <% } %>
                                    <% if (productFinded.offer_twoForOne) { %> 
                                     <p class="productDetail_offer">ยก2 unidades al precio de 1!</p>
                                    <% } %>
                                    <% if (productFinded.offer_threeForTwo) { %> 
                                     <p class="productDetail_offer">ยก3 unidades al precio de 2!</p>
                                    <% } %> 
                                    <% if (productFinded.discount != 0) { %>
                                     <h2 class="productDetail_finalPrice"><%= formatter.format(productFinded.price-(productFinded.price*productFinded.discount/100)) %> </h2>  
                                    <% } %> 
                                    <% if (productFinded.discount == 0) { %>
                                        <h2 class="productDetail_finalPrice"><%= formatter.format(productFinded.price) %> </h2>  
                                    <% } %> 
                                    
                                    <div class="productDetail_buttonSec">
                                        <a class="productDetail_a" href="">
                                            <div class="productDetail_addButton">
                                                <p>AGREGAR AL CARRITO</p>
                                            </div>
                                        </a>
                                    </div>
                                    <p class="productDetail_description">
                                        <%= productFinded.description %> 
                                    </p>
                                    <div class="productDetail_share-wishlistSec">
                                        <a href=""><i class="fa-regular fa-heart"></i> Agregar a la lista de deseos</a>
                                    </div>
                                    <% if (locals.adminCheck) { %>
                                        <div class="productDetail_adminButtons">
                                        <a class="productDetail_a" href="/productos/detalle/<%= productFinded.id %>/admin/edit ">
                                            <div class="productDetail_adminEditButton">
                                                <p>EDITAR PRODUCTO</p>
                                            </div>
                                        </a>
                                        <a class="productDetail_a" href="">
                                            <form action="/productos/detalle/<%= productFinded.id %> /admin/delete?_method=DELETE" method="post">
                                                <button type="submit" class="productDetail_adminDeleteButton">ELIMINAR PRODUCTO</button>
                                            </form> 
                                        </a>
                                        </div>
                                       
                                    <% } %>

                                </div>
                            </div>

                        </section>
                    </div>








                    <div class="pageContent_footer">
                        
                        <a class="main_goBackHome" href="/productos/<%= productFinded.categories.name %> "><i class="fa-solid fa-arrow-left"></i> <%= productFinded.categories.name %> </a>
                    </div>

                </div>
            </main>


            <%- include("../partials/footerPartial.ejs") %>
            
    </body>

</html>